.RollDice-table {
      display: flex;
      justify-content: center;
      align-items: center;
  }

.RollDice-btn {
    border-radius: 0.5rem;
    background-color: rgb(128, 122, 122);
    border: 1px;
    box-shadow: 14px 20px 52px -9px rgba(0,0,0,0.34);
    font-size: 1rem;
    cursor: pointer;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    width: 15rem;
}
.RollDice-btn:hover {
    background-color: rgb(57, 226, 14);
}